body {
    background: black;
}

.game-container {
    width: 50%;
    margin: 100px auto;
    position: relative;
}

canvas {
    position: absolute;
    top: 10%;
    left: 15%;
}

#board-canvas {
    z-index: 1;
}

#animate-canvas {
    z-index: 2;
}

#attack-canvas {
    z-index: 3;
}