body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container {
    position: relative;
    width: 49vw;
}

canvas {
    position: absolute;
    /* top: 10%; */
    /* left: 15%; */
}

#board-canvas {
    z-index: 1;
}

#animate-canvas {
    z-index: 2;
}

#attack-canvas {
    z-index: 3;
}

@font-face {
    font-family: BreatheFire;
    src: url("../fonts/BreatheFire.otf") format("opentype");
}

header {
    font-family: BreatheFire;
    color: white;
    font-size: 48px;
}